@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Murottal";
    src: url(/res/Murottal.ttf) format("truetype");
}

@font-face {
    font-family: "Satisfy";
    src: url(/res/Satisfy-Regular.ttf) format("truetype");
}

.names {
    /* font-family: "Murottal", Verdana, Geneva, Tahoma, sans-serif; */
    /* font-size: 8em; */

    font-family: "Satisfy", Verdana, Geneva, Tahoma, sans-serif;
    font-size: 5em;
    text-align: center;
}

.headings {
    font-family: "Satisfy", Verdana, Geneva, Tahoma, sans-serif;
    /* color: #FFC819; */
    color: black;
    font-size: 3em;
    text-decoration: underline;
    text-align: center;
    width: 100%;
    /* -webkit-text-stroke: 0.5px rgb(189, 189, 189); */
    /* text-shadow: black 1px 1px; */
}

@media (min-width: 768px) {
    .headings {
        font-size: 4em;
    }
}

.heading-small {
    font-size: 3em;
}

div#map {
    height: 700px;
    width: 75%;
}

